{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>صفحه اصلی | فروشگاه کارزیبا</title>
</head>
<body>
{% include 'shared/header_references.html'%}
{% render_partial 'home_module.views.site_header_component'%}
{% block content %}
{% endblock %}
{% include 'shared/footer_references.html'%}
{% render_partial 'home_module.views.site_footer_component'%}
</body>
</html>